<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LinkSync-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>LinkSyncShare.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SQLite (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>527337032EA9484A000D4CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>527337102EA9484C000D4CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5273371A2EA9484C000D4CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5273373D2EA949F7000D4CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
